[dev-packages]
pylint = "*"
flake8 = "*"
requests = "*"

[packages]
aiohttp = "*"
pantomime = ">=0.3.2"
pyicu = ">=2.0.6"
Wand = ">=0.5.6"
aiomcache = "*"
img2pdf = "*"
aiohttp-prometheus = {git = "https://github.com/amitsaha/aiohttp-prometheus.git"}
unoconv = "*"
ghostscript = {git = "https://gitlab.com/btimby/python-ghostscript.git"}
