[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
Wand = ">=0.5.6"
unoconv = "*"
uvloop = "*"
aiohttp = "*"
ghostscript = {path = "./packages/ghostscript-0.7.dev0-py2.py3-none-any.whl"}
prometheus-client = "*"
av = "==6.2.0"
numpy = "*"
pillow = "*"
yappi = "*"
cached-property = "*"
fpdf = "*"
img2pdf = "*"
pyjwt = "*"
aiomcache = "*"
aiomcache-multi = "*"
cryptography = "*"
aioresponses = "*"
aiohttp-sentry = "*"
readerwriterlock = "*"
